* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: min(90%, 100rem);
  background-color: cyan;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
