.container {
  margin-top: 50px;
  margin-inline: auto;
  width: 1000px;
  height: 1000px;
  color: white;
  font-size: 30px;
  font-family: sans-serif;

  display: grid;
  grid-template-rows: 10% repeat(3, 1fr) 10%;
  grid-template-columns: repeat(3, 1fr) 20%;

  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

.grid-item {
  background-color: red;
  padding: 20px;
}

.header {
  grid-area: 1 / 1 / 2 / -1;
}

.footer {
  grid-area: -2 / 1 / -1 / -1;
}

.sidebar {
  grid-area: 2 / -2 / -2 / -1;
}

.main-content {
  grid-area: 3 / 1 / -2 / -2;
}
